@model SearchViewModel
@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>


<div class="container">
    @if (Model.Error != null)
    {
        <h1 class="text-danger">@Model.Error</h1>
    }
    else if (!string.IsNullOrWhiteSpace(@Model.Title))
    {
        <p>Search results by title : @Model.Title (@Model.TotalResults)</p>

        <div class="row">
            @foreach (Movie item in @Model.Movies)
            {
                
                <div class="col-4">
                    <partial name="MovieCardPartial" model="@item"></partial>
                </div>    
            }
        </div>

        <div class="d-flex justify-content-center mt-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination">


                    @if (Model.CurrentPage > 1) //выбран стр
                    {
                        <li class="page-item">
                            <a class="page-link"
                               asp-action="Search"
                               asp-controller="Home"
                               asp-route-page="@(Model.CurrentPage-1)"
                               asp-route-title="@Model.Title"
                               asp-route-endPage="@ViewBag.endPage"
                               asp-route-startPage="@ViewBag.startPage">Previous</a>
                        </li>
                    }


                    @for (int i = ViewBag.startPage; i <= ViewBag.endPage && i <= Model.TotalPages; i++)
                    {                        
                          <li class="page-item @(i==Model.CurrentPage ? "active" : ' ')">
                            <a class="page-link"
                               asp-action="Search"
                               asp-controller="Home"
                               asp-route-page="@i"
                               asp-route-title="@Model.Title"
                               asp-route-endPage ="@ViewBag.endPage"
                               asp-route-startPage="@ViewBag.startPage"
                            >@i</a>
                        </li>  
                    }
                    

                    @if (Model.TotalPages > Model.CurrentPage)
                    {
                        <li class="page-item">
                            <a class="page-link"
                               asp-action="Search"
                               asp-controller="Home"
                               asp-route-page="@(Model.CurrentPage+1)"
                               asp-route-title="@Model.Title"
                               asp-route-endPage="@ViewBag.endPage"
                               asp-route-startPage="@ViewBag.startPage">Next</a>
                        </li>
                    }

                </ul>
            </nav>
        </div>

        @*<p>@ViewBag.Result</p>*@
    }
    else
    {
        <p>Not results</p>
    }
</div>

@*<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>*@

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>

        $('[data-open-modal]').click(async function () {
            event.preventDefault(); 
            console.log('daa');

            let url = $(this).attr('href');
            let response = await fetch(url);
            let result = await response.text();

            console.log(result);
            //  result+='<h1>Farid</h1>'
            $('.modal-body').html(result);

            console.log(url);

            $('#exampleModal').modal('show');
        });



    </script>
}