@model SearchViewModel
@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>


<div class="container">
    @if (Model.Error != null)
    {
        <h1 class="text-danger">@Model.Error</h1>
    }
    else if (!string.IsNullOrWhiteSpace(@Model.Title))
    {
        <p>Search results by title : @Model.Title (@Model.TotalResults)</p>

        <div class="row">
            @foreach (Movie item in @Model.Movies)
            {
                
                <div class="col-4">
                    <partial name="MovieCardPartial" model="@item"></partial>
                </div>
                
                @* <div class="card col-3" style="width: 18rem;">
                    <img src="@item.Poster" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title (@item.Year)</h5>
                        <p class="card-text">Janre : @item.Type</p>
                        <a asp-controller="Home" asp-action="Movie" asp-route-id="@item.imdbID" class="btn btn-primary">Detail</a>
                    </div>
                </div> *@
            }
        </div>

        <div class="d-flex justify-content-center mt-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination">


                    @if (Model.CurrentPage > 1) //выбран стр
                    {
                        <li class="page-item">
                            <a class="page-link"
                               asp-action="Search"
                               asp-controller="Home"
                               asp-route-page="@(Model.CurrentPage-1)"
                               asp-route-title="@Model.Title"
                               asp-route-endPage="@ViewBag.endPage"
                               asp-route-startPage="@ViewBag.startPage">Previous</a>
                        </li>
                    }


                    @for (int i = ViewBag.startPage; i <= ViewBag.endPage && i <= Model.TotalPages; i++)
                    {                        
                          <li class="page-item @(i==Model.CurrentPage ? "active" : ' ')">
                            <a class="page-link"
                               asp-action="Search"
                               asp-controller="Home"
                               asp-route-page="@i"
                               asp-route-title="@Model.Title"
                               asp-route-endPage ="@ViewBag.endPage"
                               asp-route-startPage="@ViewBag.startPage"
                            >@i</a>
                        </li>  
                    }
                    

                    @if (Model.TotalPages > Model.CurrentPage)
                    {
                        <li class="page-item">
                            <a class="page-link"
                               asp-action="Search"
                               asp-controller="Home"
                               asp-route-page="@(Model.CurrentPage+1)"
                               asp-route-title="@Model.Title"
                               asp-route-endPage="@ViewBag.endPage"
                               asp-route-startPage="@ViewBag.startPage">Next</a>
                        </li>
                    }

                </ul>
            </nav>
        </div>

        @*<p>@ViewBag.Result</p>*@
    }
    else
    {
        <p>Not results</p>
    }
</div>